<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/newsList.css">
</head>
<body>
  <h1>新闻首页 -- <%= newsList.date %></h1>
  <hr>
  <h2>latest5</h2>
  <ul>
    <% let latest = newsList.stories %>
    <% for(let i = 0;i < latest.length; i++) { %>
    <li>
      <a href=/detail?id=<%= latest[i].id %> > <%= latest[i].title %> </a>
    </li>
    <% } %>
  </ul>
  <hr>  
  <h2>topic5</h2>
  <ul>
    <% let top = newsList.top_stories %>
    <% for(let i = 0;i < top.length; i++) { %>
    <li>
      <img src="<%= top[i].image %>" alt="">
      <a href=/detail?id=<%= top[i].id %> > <%= top[i].title %> </a>
    </li>
    <% } %>
  </ul>
</body>
</html>